*{
    box-sizing: border-box;
}

.top, .middle{
    height: auto;
    width: 90%;
    /* color: #fffff7; */
    margin: 0 auto;
    margin-top: 15vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #05f390;
    box-sizing: border-box;
    padding: 1rem 0;
    border-radius: 25px;
    border-bottom: 5px solid #05f390;
    overflow-x: hidden;
}


.top > h2{
    margin: 0;
    /* margin-bottom: 20px; */
    font-size: 1.3rem;
    color: #05f390;
    padding-left: 3.5rem;
}

.middle{
    margin-top: 0;
    border: none;
    overflow-x: hidden;
}

.middle .card{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid;
}

.cardsWrapper{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0rem 2rem;
}

.cardsWrapper h3{
    margin: 5px 0;
    padding-left: 1rem;
}

.top .cardsWrapper .cards .card{
    color: white;
    background: #05f390;
}

.middle .cardsWrapper .cards .card{
    border-color: #05f390;
    background: transparent;
    backdrop-filter: blur(10px);
}

.middle .cardsWrapper .cards .card h2{
    color: #05f390;
}

.cards{
    height: auto;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.card{
    height: 100px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 35px 0;
    padding-left: 1rem;
}

.card h2{
    margin: 0;
    font-size: 1.7rem;
}

.card h4{
    margin: 0;
}

.bottom{
    height: auto;
    width: 90%;
    text-align: left;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow-x: hidden; */
}

.bottom h2{
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
    margin-top: 20px;
    border-bottom: 2px solid #05f390;
}

.chart{
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #05f390;
}


@media screen and (max-width: 468px) {
    .top{
        width: 95%;
    }

    .top h2{
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .top > h2, .top h3{
        padding-left: 1rem;
    }

    .cardsWrapper h3{
        margin-top: 0;
        font-size: 1rem;
        padding: 0rem 1rem;
    }
    
    .cards {
        max-height: 150px;
        overflow: auto;
        scrollbar-width: thin;
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .cards > div{
        width: 100%;
    }

    .middle{
        width: 95%;
    }
}