
.top{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 17vh;
    margin-bottom: 0;
    position: relative;
    padding: 2rem 0;
    border-bottom: 3px solid;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
}


.notif{
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

.top h1, .top h2{
    margin: 0;
}

.top h1{
    margin-top: 1rem;
}

.top > h2{
    margin-top: 1rem;
}

.pic, .text{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.frame p{
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0;
    font-size: 0.6rem;
    border-radius: 5px;
    font-weight: bolder;
}

.frame.og{
    border: 5px solid;
    border-image: linear-gradient(45deg, #ffd700, #8b775c);
    border-radius: 50%;
}

.text{
    flex-direction: column;
}

.btns{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-evenly;
}

.btns h3{
    margin: 0;
    padding: 0;
    font-size: 1.35rem;
}

.btns h3 span{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.bigBtns{
    height: auto;
    width: 100%;
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
    justify-content: space-around;
}

.bigBtns button{
    display: flex;
    align-items: center;
    justify-content: center;
}


.pts{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    margin-top: 1rem;
}

.pts > div h2{
    font-size: 1rem;
    margin-bottom: 0;
}


.pts > div h3{
    font-size: 1.5rem;
    margin: 0;
}

.pts button{
    position: absolute;
    right: -20px;
    top: 5px;
    width: 20px;
    background: transparent;
    color: #040404;
    padding: 0.5rem 0.8rem;
    padding-left: 0;
}

.pts h2{
    font-size: 2rem;
}

.actionBox{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    justify-content: center;
    flex-direction: column;
    border: 2px solid;
    border-radius: 15px;
    border-bottom: 5px solid;
    /* padding: 0 2rem; */
}


.actionBox > h2{
    align-self: flex-start;
    padding-left: 3.5rem;
    margin-bottom: 5px;
}

.action{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    padding-bottom: 1rem;
}

.action > button,
.txns > button{
    width: 80%;
    color: white;
    background: #040404;
    position: relative;
}

.action > button .arrow,
.txns > button .arrow{
    position: absolute;
    right: 30px;
}


.txns{
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.txns button{
    width: 100%;
}


.error{
    position: absolute;
    bottom: -25px;
    font-size: 0.65rem;
    left: 15%;
}


@media screen and (max-width: 768px) {
    .deets{
        height: 25vh;
    }

    .action{
        width: 65%;
        margin-top: 1rem;
    }

    .action button{
        padding: 0.5rem 1.3rem;
    }
}


@media screen and (max-width: 468px){

    .btns h3{
        font-size: 1.15rem;
    }

    .frame {
        height: 150px;
        width: 150px;
    }

    .pts{
        width: 50%;
    }

    .pts h2{
        font-size: 1.8rem;
    }

    .pts button{
        right: 35px;
    }

    .streaks, .tasks, .invites{
        width: 90%;
    }

    .actionBox > h2{
        padding-left: 2rem;
    }


    .txns button{
        padding-left: 1.5rem;
    }

    .close{
        top: 120px;
    }
}
