/* Start of styles for the Transaction Component */

.week, .ticket{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid;
}

.ticket{
    text-align: left;
}

.week td,
.ticket td{
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;
}

/* .week td:not(:last-of-type),
.ticket td:not(:last-of-type){
    border: 1px solid grey;
} */


.week td button,
.ticket td button{
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.week td button:hover{
   scale: 0.95;
}

.suspend{
    color: white;
    background: #ff9900;
}

.del{
    color: white;
    background: red;
}

/* End of styles for the Transaction Component */


.top{
    height: auto;
    width: 100%;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cards{
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    column-gap: 1rem;
}

.cards.two{
    grid-template-columns: repeat(4, 1fr);
}

.cards > div{
    height: 100%;
    width: 100%;
    color: white;
    max-height: 130px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.2rem 1.5rem;
    background: #05f390;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

.card > h2{
    margin: 0;
    text-align: left;
    font-size: 0.85rem;
}

.card > h3{
    margin: 6px 0;
    font-size: 1.5rem;
}

.action{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    justify-content: space-between;
}

.filter{
    height: auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.filterTop{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.filterTop > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterTop > div h2{
    margin: 0;
    word-break: keep-all;
    font-size: 1rem;
}

.filterTop > div select{
    height: 2rem;
    width: 40%;
    border: 1px solid;
    text-indent: 10px;
    cursor: pointer;
    border-radius: 10px;
}


.left{
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.left button,
.new, .filter > button{
    width: 75%;
    color: white;
    display: inline-flex;
    align-items: center;
    background: #05f390;
    padding: 0.3rem 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.filter > button{
    width: 50%;
    margin-bottom: 1rem;
}

.new{
    width: 100%;
    border-radius: 0;
}

.left button:nth-child(1){
    margin-bottom: 1rem;
}

.left button:hover{
    color: #040404;
    background: white;
}

.middle{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.middle > h3{
    margin: 0;
}

.middle table{
    width: 100%;
    border-collapse: collapse;
}

.middle table thead{
    position: sticky;
    top: 0;
}

.middle table thead tr{
    color: white;
    background: #05f390;
}

.middle table thead tr th{
    border-left: 2px solid;
}


/* Overlay Styles */

.overlay, .overlayTwo{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(10px);
    transform: translateY(100vh);
    transition: all 0.8s ease;
}

.overlayTwo{
    transform: translateY(-100vh);
}

.overlay.active,
.overlayTwo.active{
    transform: translate(0);
}

.overlayTwo.two{
    justify-content: space-between;
}

.overlayTwo.two form{
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.overlayTwo.two .close{
    left: 0;
}

.close{
    position: absolute;
    top: 50px;
    right: 150px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

.overlay form,
.overlayTwo form{
    width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border-radius: 0px;
    background: white;
    padding: 2rem;
    border-radius: 20px;
    transform: translateX(100vw);
    transition: all 0.8s ease;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}

.overlay form.active,
.overlayTwo form.active{
    transform: translate(0);
}

.overlay form > h2,
.overlay form > h3,
.overlayTwo form > h2,
.overlayTwo form > h3{
    margin: 0;
}

.overlayTwo form > h3{
    align-self: flex-start;
}

.inputBox{
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: relative;
}

.inputBox.two{
    height: auto;
}

.inputBox label{
    align-self: flex-start;
}

.inputBox input,
.inputBox select{
    height: 70%;
    width: 100%;
    text-indent: 10px;
    cursor: pointer;
    border: 1px solid #05f390;
    /* border-radius: 10px; */
}

.inputBox.two input{
    min-height: 30px;
    margin-bottom: 5px;
}

.error{
  position: absolute;
  bottom: -25px;
  font-size: 0.65rem;
  left: 15%;
}


.overlay form button,
.overlayTwo form button{
    margin-top: 0;
    color: white;
    background: #05f390;
    margin-top:0.5rem;
    transition: all 0.5s ease;
}

.overlay form button:hover,
.overlayTwo form button:hover{
    color: #040404;
    background: white;
}

@media screen and (max-width: 468px) {
  .action {
    padding: 0 1rem;
    flex-direction: column;
  }

  .filter,
  .left {
    width: 100%;
  }

  .filter > button{
    width: 100%;
  }

  .filter > div {
    flex-direction: row;
  }

  .filter > div h2 {
    font-size: 0.65rem;
  }

  .filter > div select {
    width: 40%;
    border: 1px solid;
    border-radius: 8px;
  }

  .left {
    margin-top: 1rem;
  }

  .left button{
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .cards {
    max-height: 260px;
    overflow: auto;
    scrollbar-width: thin;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  .cards > div {
    width: 100%;
    padding: 0.2rem 1.5rem;
  }

  .card > h3{
    font-size: 1.8rem;
  }

  .middle{
    overflow: auto;
    padding: 2rem 1rem;
    scrollbar-width: thin;
  }

  .middle table thead tr th {
    padding: 5px;
    font-size: 0.65rem;
  }

  td{
    font-size: 0.5rem;
  }

  .week td button,
  .ticket td button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .overlay{
    flex-direction: column;
  }

  .overlay form{
    width: 95vw;
  }

  .overlay form h2{
    text-wrap: balance;
  }

  .inputBox{
    height: 4rem;
  }

  .close{
    height: 35px;
    width: 35px;
    right: 30px;
  }
}