@font-face {
    font-family: "quickstep";
    src: url("../assets/Fonts/Quickstep.otf");
}

.sidebar{
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.7s ease;
    border-right: 1px solid;
}

.logo{
  font-size: 2rem;
  color: #007ba7;
  font-family: "quickstep";
}

.sidebar .top h2{
    text-align: center;
    font-family: "quickstep";
}

.sidebar > div{
    width: 100%;
}

.collapsed{
    width: 5vw;
    border: none;
}

.collapsed .icon{
    border: none;
}

.icon{
    height: auto;
    width: 100%;
    display: grid;
    place-items: flex-start;
    grid-template-columns: 30px 1fr;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: all 0.7s ease;
}

.icon.active{
    color: white;
    background: #007ba7;
}
