/* Start of styles for the Transaction Component */

.transaction{
    width: 100%;
    border-bottom: 1px solid;
}

.transaction td:nth-child(even){
    background: rgb(217, 215, 215);
}

.transaction td{
    padding: 0.5rem;
}

/* End of styles for the Transaction Component */


.top{
    height: auto;
    width: 100%;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3.5rem;
    justify-content: space-between;
}

.filter{
    height: auto;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter h2{
    margin: 0;
    font-size: 1.1rem;
}

.filter select{
    height: 2rem;
    width: 40%;
    border: 1px solid;
    text-indent: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left button{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #05f390;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.left button:hover{
    color: #040404;
    background: white;
}

.middle{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.middle > h3{
    margin: 0;
}

.middle table{
    width: 100%;
    border-collapse: collapse;
}

.middle table thead{
    position: sticky;
    top: 0;
}

.middle table thead tr{
    color: white;
    background: #05f390;
}

.middle table thead tr th{
    padding: 0.5rem;
}


@media screen and (max-width: 468px) {

    .top{
        padding: 0rem 1rem;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .filter{
        width: 100%;
        justify-content: space-between;
    }

    .filter h2{
        font-size: 1rem;
    }

    .left{
        width: 100%;
        margin-top: 1rem;
    }

    .left button{
        width: 100%;
    }
  
    .middle table thead tr th{
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    .transaction td{
        padding: 0.2rem;
    }
}