.preview{
    height: auto;
    width: 300px;
    min-width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #d3d1d1;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease;
}

.prev{
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.preview:hover{
    color: white;
    background: #040404;
}

.prev > *{
    margin: 5px 0;
}

.prev h2{
    font-size: 1rem;
}

.preview h3{
    font-size: 0.9rem;
}

.prev p{
    font-size: 0.85rem;
}

.top{
   margin-top: 13vh;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   box-sizing: border-box;
   padding-left: 8.5rem;
}

.top h1{
    font-size: 1.8rem;
    margin-bottom: 0;
}

.top h2{
    font-size: 1.3rem;
    margin: 0;
}

.top.two{
    padding-left: 5rem;
}

.top.two h2,
.top.two p{
    text-wrap: balance;
}

.top > p{
    margin: 0;
}

.middle, .secondMiddle{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle.two{
    margin-top: 0;
}


.firstBox, .secondBox,
.thirdBox, .fourthBox{
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 2px solid;
    border-radius: 10px;
    border-bottom: 6px solid;
}

.secondBox, .fourthBox {
    width: 27%;
}

.fourthBox {
    max-height: 140px;
    width: max-content;
    overflow-y: auto;
    scrollbar-width: thin;
}

.firstBox > h2,
.thirdBox > h2{
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid;
}

.deets,
.deetsBox{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deets h2,
.deets h3,
.deetsBox h2,
.deetsBox h3{
    margin: 3px 0;
}

.deets h2,
.deetsBox h2{
    font-size: 1.05rem;
}


.deets h3,
.deetsBox h3{
    font-size: 1.2rem;
}

.secondBox h2,
.secondBox h3,
.fourthBox h2,
.fourthBox h3{
    margin: 0;
}

.secondBox h2,
.fourthBox h2{
    border-bottom: 2px solid;
}

.secondBox h3{
    font-size: 2.6rem;
}

.fourthBox h3{
    font-size: 1rem;
    word-break: keep-all;
}

.bottom{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
}

.bottom button{
    color: white;
    width: 100%;
    background: #040404;
    margin: 0.5rem 0;
    transition: all 0.7s ease;
}

.bottom button:hover{
    color: #040404;
    background: white;
}

/* Overlay Styles */

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(10px);
    transform: translateY(100vh);
    transition: all 0.8s ease;
}

.overlay.active{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 50px;
    right: 50px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

.overlay form{
    width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px solid; */
    border-radius: 0px;
    background: white;
    /* backdrop-filter: blur(15px); */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}

.overlay form > h2,
.overlay form > h3{
    margin: 0;
}

.inputBox{
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    position: relative;
}

.inputBox label{
    align-self: flex-start;
    /* margin-left: 2rem; */
}

.inputBox input,
.inputBox select{
    height: 70%;
    width: 100%;
    border: 1px solid;
    text-indent: 10px;
    cursor: pointer;
    /* border-radius: 10px; */
}

.deetBox{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.deetBox h3{
    margin: 10px 0;
}

.deetBox > p{
    margin: 3px 0;
    font-size: 0.9rem;
    word-break: keep-all;
}

.overlay form button{
    margin-top: 0;
    color: white;
    background: #040404;
    transition: all 0.5s ease;
}

.overlay form button:hover{
    color: #040404;
    background: white;
}

.region{
    width: 400px;
    height: 300px;
    margin: 5px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.qrcontainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qrcontainer p{
    margin: 0;
}

.qrcontainer div:nth-of-type(2){
    margin: 5px 0;
}


@media screen and (max-width: 468px) {

    .top.two{
        padding-left: 30px;
        text-align: left;
    }

    .top.two > *{
        width: 100%;
        padding: 0;
    }


    .top.two h2{
        font-size: 0.9rem;
    }

    .top.two p{
        font-size: 0.7rem;
    }

    .middle.two{
        margin-top: 3rem;
    }

    .qrcontainer h2{
        align-self: flex-start;
    }

    .region{
        width: 300px;
        height: 250px;
    }

    .overlay form{
        width: 90vw;
    }

    .deetBox > p{
        font-size: 0.7rem;
    }
}