.preview {
  height: auto;
  width: 100%;
  border-radius: 15px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease;
}

.preview > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preview:hover {
  color: white;
  background: #040404;
}

.preview .mid {
  align-items: flex-start;
}

.preview .mid h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.clock p {
  margin: 0;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.last h3 {
  padding: 5px;
  font-size: 0.8rem;
  border: 1px solid;
  border-radius: 10px;
}

.top {
  margin-top: 15vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 5rem;
}

.top h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.top h2 {
  font-size: 1.3rem;
  margin: 0;
}

.top.two {
  padding-left: 5rem;
}

.top.two h2,
.top.two p {
  text-wrap: balance;
}

.top > p {
  margin: 0;
}

.middle,*
.secondMiddle {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.middle.two {
  margin-top: 0;
}

.firstBox,
.secondBox,
.thirdBox,
.fourthBox {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: 2px solid;
  border-radius: 10px;
  border-bottom: 6px solid;
}

.secondBox {
  margin-top: 1rem;
  color: white;
  border: none;
  background: #05f390;
  /* background: #43ffb1; */
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}

.fourthBox {
  max-height: 140px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.firstBox > h2,
.thirdBox > h2 {
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid;
}

.deets,
.deetsBox {
  height: auto;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.deets.two {
  position: relative;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  justify-content: space-between;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 90%;
  margin: auto;
  background: #040404;
}

.deets > div,
.deetsBox > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.deets h2,
.deets h3,
.deetsBox h2,
.deetsBox h3 {
  margin: 3px 0;
}

.deets h2,
.deetsBox h2 {
  font-size: 1.05rem;
}

.deets h3,
.deetsBox h3 {
  font-size: 1.2rem;
}

.secondBox h2,
.secondBox h3,
.fourthBox h2,
.fourthBox h3 {
  margin: 0;
}

.secondBox h2,
.fourthBox h2 {
  border-bottom: 2px solid;
}

.secondBox h3 {
  font-size: 2.6rem;
}

.fourthBox h3 {
  font-size: 1rem;
  word-break: keep-all;
}

.bottom {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

.bottom button {
  color: white;
  width: 100%;
  background: #040404;
  margin: 0.5rem 0;
  transition: all 0.7s ease;
}

.bottom button:hover {
  color: #040404;
  background: white;
}

/* Overlay Styles */

.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(10px);
  transform: translateY(100vh);
  transition: all 0.8s ease;
}

.overlay.active {
  transform: translate(0);
}

.overlay.two {
  flex-direction: column;
}

.overlay.two button {
  color: white;
  width: 85%;
  background: #040404;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}

.overlay form {
  width: 450px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  /* border: 1px solid; */
  border-radius: 0px;
  background: white;
  /* backdrop-filter: blur(15px); */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}

.overlay form > h2,
.overlay form > h3 {
  margin: 0;
}

.inputBox {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  position: relative;
}

.inputBox label {
  align-self: flex-start;
  /* margin-left: 2rem; */
}

.inputBox input,
.inputBox select {
  height: 70%;
  width: 100%;
  border: 1px solid;
  text-indent: 10px;
  cursor: pointer;
  /* border-radius: 10px; */
}

.error {
  position: absolute;
  bottom: -25px;
  font-size: 0.65rem;
  left: 15%;
}

.deetBox {
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.deetBox h3 {
  margin: 10px 0;
}

.deetBox > p {
  margin: 3px 0;
  font-size: 0.9rem;
  word-break: keep-all;
}

.overlay form button {
  margin-top: 0;
  color: white;
  background: #040404;
  transition: all 0.5s ease;
}

.overlay form button:hover {
  color: #040404;
  background: white;
}

.region {
  width: 400px;
  height: 300px;
  margin: 5px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.qrcontainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qrcontainer p {
  margin: 0;
}

.qrcontainer div:nth-of-type(2) {
  margin: 5px 0;
}

@media screen and (max-width: 468px) {
  .top {
    padding-left: 2rem;
  }

  .top h1 {
    font-size: 1.3rem;
  }

  .top.two {
    padding-left: 30px;
    text-align: left;
  }

  .top.two > * {
    width: 100%;
    padding: 0;
  }

  .top.two h2 {
    font-size: 0.9rem;
  }

  .top.two p {
    font-size: 0.7rem;
  }

  .middle,
  .secondMiddle {
    width: 92%;
    flex-direction: column;
  }

  .middle > div,
  .secondMiddle > div {
    width: 100%;
    margin-top: 1rem;
  }

  .firstBox,
  .secondBox,
  .thirdBox,
  .fourthBox {
    padding: 1rem;
  }

  .deets > div h2,
  .deetsBox > div h2 {
    font-size: 0.7rem;
  }

  .deets > div h3,
  .deetsBox > div h3 {
    margin-top: 2px;
    font-size: 0.6rem;
  }

  .secondBox > * {
    text-align: left;
    width: 100%;
  }

  .thirdBox > h2,
  .firstBox > h2,
  .secondBox > h2,
  .fourthBox > h2 {
    font-size: 1.2rem;
  }

  .bottom {
    width: 92%;
  }

  .middle.two {
    margin-top: 3rem;
  }

  .qrcontainer h2 {
    align-self: flex-start;
  }

  .region {
    width: 300px;
    height: 250px;
  }

  .overlay form {
    width: 90vw;
  }

  .deetBox > p {
    font-size: 0.7rem;
  }
}
