/* Start of styles for the Transaction Component */

.user{
    width: 100%;
    border-bottom: 1px solid;
}

.user td:nth-child(even){
    background: rgb(217, 215, 215);
}

.user td{
    padding: 0.5rem;
    text-align: left;
}

.user td button{
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition: all 0.5s ease;
}

.user td button:hover{
   scale: 0.95;
}

.suspend{
    color: white;
    background: #ff9900;
}

.del{
    color: white;
    background: red;
}

/* End of styles for the Transaction Component */


.top{
    height: auto;
    width: 100%;
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cards{
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cards > div{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.2rem 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.card > h2{
    margin: 0;
    font-size: 1rem;
}

.card > h3{
    margin: 6px 0;
    font-size: 2.5rem;
}

.action{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    justify-content: space-between;
}

.filter{
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.filter > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter > div h2{
    margin: 0;
    word-break: keep-all;
    font-size: 1rem;
}

.filter > div select{
    height: 2rem;
    width: 40%;
    border: 1px solid;
    text-indent: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left button{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #040404;
    box-sizing: border-box;
    padding: 0.2rem 3rem;
    transition: all 0.5s ease;
}

.left button:hover{
    color: #040404;
    background: white;
}

.middle{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.middle > h3{
    margin: 0;
}

.middle table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.middle table thead{
    position: sticky;
    top: 0;
}

.middle table thead tr{
    color: white;
    background: #040404;
}

.middle table thead tr th{
    padding: 0.8rem;
}

@media screen and (max-width: 468px) {
  .action {
    padding: 0 1rem;
    flex-direction: column;
  }

  .filter,
  .left {
    width: 100%;
  }

  .filter > button{
    width: 100%;
  }

  .filter > div {
    flex-direction: row;
  }

  .filter > div h2 {
    font-size: 0.65rem;
  }

  .filter > div select {
    width: 40%;
    border: 1px solid;
    border-radius: 8px;
  }

  .left {
    margin-top: 1rem;
  }

  .left button{
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .cards {
    max-height: 260px;
    overflow: auto;
    scrollbar-width: thin;
    gap: 10px;
    grid-template-columns: 1fr;
  }

  .cards > div {
    width: 100%;
    padding: 0.2rem 1.5rem;
  }

  .card > h3{
    font-size: 1.8rem;
  }

  .middle{
    overflow: auto;
    padding: 2rem 1rem;
    scrollbar-width: thin;
  }

  .middle table thead tr th {
    padding: 5px;
    font-size: 0.65rem;
  }

  td{
    font-size: 0.5rem;
  }

  .week td button,
  .ticket td button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .overlay{
    flex-direction: column;
  }

  .overlay form{
    width: 95vw;
  }

  .overlay form h2{
    text-wrap: balance;
  }

  .inputBox{
    height: 4rem;
  }

  .close{
    height: 35px;
    width: 35px;
    right: 30px;
  }

  .user td{
    padding: 0.25rem;
  }

  .user td button{
    width: 90%;
    padding: 0.5rem;
  }
}