/* Start of styles for the Transaction Component */

.user{
    width: 100%;
    border-bottom: 1px solid;
}

.user td:nth-child(even){
    background: rgb(217, 215, 215);
}

.user td button{
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.user td button:hover{
   scale: 0.95;
}

.suspend{
    color: white;
    background: #ff9900;
}

.del{
    color: white;
    background: red;
}

/* End of styles for the Transaction Component */


.top{
    height: auto;
    width: 100%;
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cards{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    justify-content: space-between;
}

.cards > div{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.2rem 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.card > h2{
    margin: 0;
    font-size: 1rem;
}

.card > h3{
    margin: 6px 0;
    font-size: 2.5rem;
}

.action{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    justify-content: space-between;
}

.filter{
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.filter > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter > div h2{
    margin: 0;
    word-break: keep-all;
    font-size: 1rem;
}

.filter > div select{
    height: 2rem;
    width: 40%;
    border: 1px solid;
    text-indent: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left button{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #040404;
    box-sizing: border-box;
    padding: 0.2rem 3rem;
    transition: all 0.5s ease;
}

.left button:hover{
    color: #040404;
    background: white;
}

.middle{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;
}

.middle > h3{
    margin: 0;
}

.middle table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.middle table thead{
    position: sticky;
    top: 0;
}

.middle table thead tr{
    color: white;
    background: #040404;
}

.middle table thead tr th{
    border-left: 2px solid white;
}