.top {
  margin-top: 13vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 6rem;
}

.top h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.top > p {
  margin: 0;
}

.middle {
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}


.acctBox,
.tripBox {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 10px;
}

.acctBox{
  border-color: #05f390;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.tripBox {
  color: white;
  margin-top: 1rem;
  background: #05f390;
}

.acctBox > h2 {
  margin: 0;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid;
}

.action {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.icon{
    margin: 0px 5px;
}

.ft,
.mid,
.btm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* margin-top: 0; */
}

.ft > div,
.mid > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.ft > div h2 {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
  justify-content: space-between;
}

.ft > div p {
  margin: 0;
  font-size: 0.9rem;
}

.btm button,
.ft > div button,
.mid > div button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid {
  margin-top: 1rem;
}

.mid > div h3 {
  margin: 0;
  color: grey;
  font-size: 1.2rem;
}


.amt {
  margin: 0;
  font-size: 2rem;
}

.amt span {
  font-size: 1.5rem;
}

.mid > div button {
  color: white;
  border: none;
  padding: 0.3rem 2rem;
  background: #05f390;
}

.btm h3 {
  color: grey;
  margin-top: 0;
  font-size: 0.9rem;
}

.btm button {
  border: 1px solid;
  padding: 0.3rem 1rem;
  border-color: #05f390;
}

.arrow {
  position: absolute;
  right: -25px;
  top: 1px;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tripBox h2,
.tripBox h3 {
  margin: 0;
}

.tripBox h2 {
  border-bottom: 2px solid;
}

.tripBox h3 {
  font-size: 3.5rem;
}

.bottom {
  height: auto;
  width: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border-bottom: 5px solid;
  border-color: #05f390;
}

.bottom > h2 {
  font-size: 1.1rem;
  border-bottom: 4px solid;
}

.trips {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
  box-sizing: border-box;
  padding: 1rem 0;
}

@media screen and (max-width: 468px) {
  .top {
    margin-top: 11vh;
    padding-left: 2rem;
  }

  .top h1 {
    font-size: 1.2rem;
  }

  .top p{
    font-size: 0.7rem;
  }

  .middle {
    width: 92%;
    flex-direction: column;
  }

  .middle > div {
    width: 100%;
  }

  .acctBox, .tripBox{
    padding: 1rem;
  }

  .icon{
    scale: 0.7;
  }

  .ft > div h2 {
    font-size: 0.9rem;
    word-break: keep-all;
  }

  .ft > div p {
    font-size: 0.6rem;
  }

  .btm button,
  .ft > div button,
  .mid > div button {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
  }

  .mid {
    margin-top: 1rem;
  }

  .mid > div h3 {
    font-size: 0.8rem;
  }

  .amt {
    margin: 0;
    font-size: 1.5rem;
  }

  .amt span {
    font-size: 1.2rem;
  }

  .mid > div button {
    color: white;
    padding: 0.3rem 0.5rem;
    background: #040404;
  }

  .btm h3 {
    color: grey;
    margin-top: 10px;
    font-size: 0.6rem;
  }

  .btm button {
    border: 1px solid;
    padding: 0.3rem 0.5rem;
  }

  .bottom {
    width: 92%;
  }

  .bottom > h2 {
    font-size: 0.9rem;
  }

  .heading h2{
    font-size: 1rem;
  }

  .tripBox h3{
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .tripBox p{
    margin: 0;
    font-size: 0.7rem;
  }

  .trips {
    grid-template-columns: 1fr;
  }
}
