.top{
   margin-top: 13vh;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   box-sizing: border-box;
   padding-left: 8.5rem;
}

.top h1{
    font-size: 1.8rem;
    margin-bottom: 0;
}

.top > p{
    margin: 0;
}

.middle{
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acctBox, .tripBox{
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid;
    border-radius: 10px;
}

.tripBox {
    width: 27%;
}

.acctBox > h2{
    margin: 0;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid;
}

.action{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right, .ft{
    height: 100%;
    width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0;
}

.ft h3,
.left h3,
.right h3{
    font-size: 0.9rem;
    margin-bottom: 0;
    position: relative;
}

.ft p{
    margin: 0;
}

.ft button{
    color: white;
    padding: 0.3rem 0.5rem;
    background: #040404;
}

.arrow{
    position: absolute;
    right: -25px;
    top: 1px;
}

.left h2,
.right h2{
    margin-top: 0;
}

.right button{
    /* padding-left: 0; */
    color: white;
    background: #040404;
}

.tripBox h2,
.tripBox h3{
    margin: 0;
}

.tripBox h2{
    border-bottom: 2px solid;
}

.tripBox h3{
    font-size: 3.5rem;
}

.bottom{
    height: auto;
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid;
    margin-top: 2rem;
    border-radius: 10px;
    border-bottom: 5px solid;
}

.bottom > h2{
    font-size: 1.1rem;
    border-bottom: 4px solid;
}

.trips{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    box-sizing: border-box;
    padding: 1rem 0;
}