@font-face {
  font-family: "postbook";
  src: url("../assets/Fonts/Postbook.otf");
}

@font-face {
  font-family: "buddy";
  src: url("../assets/Fonts/SweetJoys.ttf");
}

@font-face {
  font-family: "scripto";
  src: url("../assets/Fonts/Scripto-2OR2v.ttf");
}

@font-face {
  font-family: "captain";
  src: url("../assets/Fonts/AmericanCaptain-MdEY.otf");
}


.bodyStyles{
  background: #fff;
}

.container {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 1000px;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
}

.container.mobile {
  flex-direction: row;
}

.container.signup,
.container.login {
  justify-content: space-between;
  flex-direction: row;
}

.container.signup > div {
  border: 1px solid;
  height: 100%;
}

.container.signup .left,
.container.login .right {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../assets/Img/img_two.png") center / cover;
}

.container.signup .right,
.container.login .left {
  width: 70%;
  height: 100%;
  background: url("../assets/Img/img_one.png") center / cover;
}

.container.login.mobile .right,
.container.signup.mobile .left {
  width: 100%;
}

.container .left h1,
.container.login h1 {
  font-size: 2rem;
  margin-top: 0;
  font-family: "captain";
  margin-bottom: 5px;
  animation: welcome 1.5s ease-in both;
}

.container .left h1 span,
.container .right h1 span {
  font-size: 1.5rem;
  text-wrap: balance;
}

.afLogo {
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin-bottom: 0;
}

.left .sub,
.right .sub {
  margin: 0;
  font-size: 0.7rem;
  margin-bottom: 5px;
}

@keyframes welcome {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.left form,
.right form {
  width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  /* border: 1px solid; */
  border-radius: 0px;
}

.container form {
  padding: 0 1.5rem;
  font-family: inherit;
  background: transparent;
  backdrop-filter: blur(30px);
}

.left form h2,
.right form h2 {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

.nav,
.btns {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
  /* overflow: hidden; */
  justify-content: center;
  flex-direction: column;
}

.nav h3 {
  margin: 0;
  font-size: 0.95rem;
  margin-top: 1rem;
}

.btns {
  flex-direction: row;
}

.btns button {
  border-radius: 0;
  border: 1px solid;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  transition: all 0.7s ease;
}

.btns button:hover,
.btns button.selected {
  color: #007ba7;
  border-radius: 0;
  background: #fff;
}

.inputBox {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.inputBox.two {
  margin-bottom: 0;
}

.error {
  position: absolute;
  bottom: -25px;
  font-size: 0.65rem;
  left: 15%;
}

.container.signup .inputBox {
  height: 3rem;
  margin-bottom: 0rem;
}

.container.signup .inputBox input {
  border-radius: 0px;
}

.container.signup .inputBox:last-of-type {
  margin-bottom: 1rem;
}

.container.signup .google {
  padding: 0.3rem 3rem;
}

.container.login .inputBox {
  width: 100%;
  align-items: flex-start;
}

.already {
  margin-top: 0;
}

.inputBox label {
  align-self: flex-start;
  /* margin-left: 2rem; */
}

.inputBox input {
  height: 70%;
  width: 100%;
  text-indent: 10px;
  border: 1px solid #007ba7;
  /* border-radius: 10px; */
}

.container.login .inputBox input {
  width: 100%;
}

.line {
  width: 100%;
  margin-top: 1rem;
  position: relative;
}

.line hr {
  width: 80%;
}

.line p {
  position: absolute;
  top: -10px;
  left: 50%;
  padding: 5px;
  background: var(--bg-color);
  transform: translate(-50%, -50%);
}

.line.two {
  margin: 0.7rem 0;
}

.continue {
  margin: 15px 0;
  font-size: 0.8rem;
}

.google {
  color: black;
  margin: 0;
  background: white;
  border: 1px solid;
  border-radius: 0px;
  padding: 0.5rem 3.5rem;
}

.redirect {
  margin-top: 0;
}

form button {
  width: 100%;
  margin: 5px 0;
  border-radius: 0;
  color: white;
  background: #007ba7;
  padding: 0.35rem 4rem;
}

.dev {
  position: fixed;
  bottom: 10px;
  font-size: 0.85rem;
}

@media screen and (max-width: 468px) {
  form,
  .container.signup form {
    width: 80vw;
  }

  .dev {
    bottom: 20px;
  }

  .container.login .btns button {
    padding: 0.5rem 2rem;
  }

  .inputBox {
    height: 4rem;
  }

  form button {
    padding: 0.7rem 4rem;
  }
}
