@font-face {
  font-family: "buddy";
  src: url("../src/assets/Fonts/Buddy\ Story.otf");
}

#root {
  margin: 0 auto;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: auto 1fr;
}

.mobile{
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper{
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: all 0.6s ease;
}

.wrapper.collapsed{
  width: 80vw;
}

@media screen and (max-width: 768px){
  .wrapper{
    width: 100vw;
    padding: 0 0.5rem;
    box-sizing: border-box;
  }
}

