@font-face {
  font-family: "biko";
  src: url("../src/assets/Fonts/biko_bold.otf");
}


:root {
  font-family: "biko", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bolder;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a{
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  color: #535bf2;
}

.link:hover{
  color: var(--text-color);
}

body{
  --bg-color: #ffffff;
  --text-color: #040404;
  --button-color: #040404;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.8s ease;
  overflow-x: hidden;
  position: relative;
  background-image: radial-gradient(circle at top right, #a2e6fe 0%, #007ba766 50%, #007ba700 100%);
  background: linear-gradient(115deg, #fff, #91ffd160);
}


h1{
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  background: inherit;
  white-space: nowrap;
  transition: border-color 0.25s;
}

button.btn{
  color: var(--bg-color);
  background: #007ba7;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  color: #040404;
  border: 1px solid white;
}

input, textarea{
  font-family: "baskerville";
}

.link{
  border-bottom: 2px solid;
}

.container{
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

.header{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 0 4rem;
  box-sizing: border-box;
  justify-content: flex-start;
  background: transparent;
  backdrop-filter: blur(10px);
}

.header h2{
  font-size: 1.8rem;
  border-bottom: 2px solid #007ba7;
}


@media screen and (max-width: 468px){
  .header{
    height: 12vh;
    padding: 0 2rem;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable, .printable * {
    visibility: visible;
  }

  .printable{
    position: absolute;
    top: 0;
    left: 0;
  }
}